{% extends "base.html" %}
{% block title %}Login | Stoic Mirror{% endblock title %}
{% block content %}
    <section class="region">
        <div class="wrapper flow"
             data-variant="narrow"
             aria-labelledby="form-login-title">
            <div>
                <h1 id="form-login-title">Sign in to your account</h1>
                <p class="text-small">Not a member? <a class="accent-gold" href="{{ url_for('auth.register') }}">Register</a> for free</p>
            </div>
            <form method="post" class="form">
                <div class="form-label">
                    <label for="email">Email address</label>
                    <input type="email" name="email" placeholder="stoic@mirror.com">
                </div>
                <div class="form-label">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Your password">
                </div>
                <button class="button form-button" type="submit">Sign in</button>
            </form>
        </div>
    </section>
{% endblock content %}
