<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Stoic Mirror {% endblock %}</title>
  </head>
  <body>
    <nav class="site-nav">
      <a href="{{ url_for('main.index') }}">Stoic Mirror</a>

      {% if session.get('user.id') %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Register</a>
      {% endif %}

      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <p class="{{ category }}">{{ message }}</p>
              {% endfor %}
          {% endif %}
      {% endwith %}

      <!-- Block content placeholder -->
      {% block content %}{% endblock %}
    </nav>
  </body>
</html>
