{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>{% block title %} Stoic Mirror {% endblock title %}</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='styles/index.css') }}">
    </head>
    <body>
        <header class="site-head">
            <div class="wrapper">
                <nav class="site-nav">
                    {{ macros.nav_link('main.index', 'Stoic Mirror') }}
                    {% if session.get('user_id') %}
                        {{ macros.nav_link('main.history', 'History') }}
                        {{ macros.nav_link('auth.logout', 'Logout') }}
                    {% else %}
                        <!--{{ macros.nav_link('auth.login', 'Login') }}-->
                        {# {{ macros.nav_link('auth.register', 'Register') }} #}
                    {% endif %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <p class="{{ category }}">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </nav>
            </div>
        </header>
        <main id="site-main" tabindex="-1">
            <div class="wrapper">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
    </body>
</html>
